<% include ./partials/header %>
<h1 class="text-center">Sorry, but that page doesn't exist!  Please return to the home page.</h1>
  <br>
  <br>
  <br>
  <div class="text-center">
   <a href="/" class="btn-lg btn-info text-center">HOME</a>
  </div>
<% include ./partials/footer %>