body{
  background-image: url(../imgs/ocean-wallpapers-marvelous-hd-desktop-wallpapers-of-ocean-free-download.jpg);
  font-family: 'Indie Flower', cursive;
}

.form-inline{
  margin-top: 7px;
}

.intro {
  margin-top: 150px;
}

.signup{
  color: white;
}

.navbar{
  opacity: .70;
}
.page-scroll{
  margin-right: 41px;
  opacity: 1;
}

.logout{

  margin-top: -5px;
  padding: 3px 6px;
  
}
