/*.calendar{
  padding: 100px 50px 125px 50px;
  margin-bottom: 100px;
}*/
.side{
  background-color: green;
  padding: 20px;
}

#report{
  background-color: magenta;
    padding-top: 50px;
    padding-bottom: 50px;

}

.bottom{
  margin-bottom: 100px;
}

#stats{
  background-color: orange;
    padding-top: 50px;
    padding-bottom: 50px;

}
