.side{
  padding: 20px;
}

body{
    font-family: 'Indie Flower', cursive;
  }
.fa .fa-github{
      font-family: 'Indie Flower', cursive;
}

.modal-header{
  background-color: rgb(0, 115, 153);
}

.modal-header .close {
    margin-top: -11px;
}

#logTime{
  font-size: 12px;
}

h4 > span{
  font-size: 18px;
  color: blue;
}

.bottom{
  margin-bottom: 100px;
}

.navbar{
  opacity: .70;
}

.page-scroll{
  margin-right: 41px;
  opacity: 1;
}

.logout{

  margin-top: -5px;
  padding: 3px 6px;
}

#about:hover{
  cursor: pointer;
}

#about{
    margin-top: 16px;
}

#mark{
    font-size: 24px;
    margin-bottom: -5px;
}

#contact{
  margin-bottom: -2px;
}

/*less than or equal to 500px*/
@media(max-width:768px){
  #about{
    margin-top: 9px;
  }
}
