  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Surf Log</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body class="container">
      <div class="container">
    <% include ../partials/navbar %>

<div class="row">
    <div class="col-xs-3 filler"></div>
    <div class="col-xs-6">
      <form action="/signup" class="text-center" method="POST">
        <h1 class="signup">SIGN UP!</h1>
          <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Name</span>
          <input type="text" class="form-control" placeholder="Name.." aria-describedby="basic-addon1"name="user[name]" id="name" required>
        </div>
          <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">EMAIL</span>
          <input type="text" class="form-control" placeholder="Your email..." aria-describedby="basic-addon1"name="user[email]" id="email" required>
        </div>
          <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Password</span>
          <input type="password" class="form-control" placeholder="Password..." aria-describedby="basic-addon1"name="user[password]" id="password" required>
        </div>
        <br>
        <button class="btn-lg btn-success">SUBMIT</button>
      </form>
    </div>
    <div class="col-xs-3 filler"></div>
<% include ../partials/footer %>